.career-bg{
    width: 100%;
    height: 100vh;
    background: url("/pic/career/career-bg.webp") 100%/cover no-repeat;
    filter: grayscale(25%);
    background-attachment: fixed;
    position: relative;
}

.career-bg::before{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.25);
}

h1{
    text-align: center;
    color: white;
    text-shadow: 10px 5px 5px  rgba(153, 153, 153, 1);
    transform: scale(175%) translateY(-175px);
    font-weight: 400;
}

.career-intro{
    height: max-content;
}

.career-desc{
    padding-left: 5%;
    width: 70%;
    margin: 10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5%;
}


.career-content{
    color: #29A87A;
    width: 50%;
}

.career-form{
    margin:0;
    padding: 5% 15% 0 15%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 100px 0px #DFDFDF;
}

.career-form h3{
    width: 17%;
    margin: 0 auto;
    color: #29A87A;
    border-bottom: 2px solid #6046ff;
    margin-bottom: 2%;
}

.file{
    display: flex;
    flex-direction: column;
}


.career-form input:not(#careerFile), .form-select{
    border-radius: 15px !important;
    border:none !important;
    height: 60px ;
    margin-bottom: 2%;
    background: white;
    box-shadow: 0px 4px 100px rgba(153, 153, 153, 0.30);
}

.career-form input:not(#careerFile):hover, .form-select:hover,
.career-form input:not(#careerFile):focus, .form-select:focus{
    box-shadow: none !important;
    border: 2px solid #29a87a !important;
}

#careerFile{
    height: 200px;
    padding: 7% 40%;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    border: 3px dashed #868686;
}

.career-form button{
    background-color: #29A87A;
    color: white;
    width: 25%;
    height: 7.5vh;
    margin: 5% auto 2% auto;
}