.pop-up-bg {
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    padding: 12vh 30vw;
    z-index: -1;
    transition: all 0.2s linear;
    opacity: 0;
}

.pop-up-bg.active {
    background: rgba(0, 0, 0, 0.56);
    z-index: 2;
    opacity: 1;
}

.privacy-statement-content {
    background: white;
    padding: 2vh 5vw;
    padding-bottom: 4vh;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.20), 0px 3px 6px 0px rgba(0, 0, 0, 0.10);
}

.privacy-statement-desc {
    margin-top: 5%;
    height: 80%;
    overflow-y: scroll;
    padding: 0 5%;
}

.privacy-statement-content h3 {
    text-align: center;
    position: relative;
    font-size: 1.5vw;
    padding-top: 5%;
}

.close-btn {
    position: absolute;
    right: -12%;
    font-size: 1.5vw !important;
    cursor: pointer;
    top: 15%;
}

.privacy-statement-content p {
    margin-top: 2%;
    font-size: 0.8vw;
}

.privacy-statement-content span {
    font-weight: 700;
    font-size: 0.9vw;
}

.contact-us-bg {
    width: 40%;
    position: absolute;
    right: 0;
}

.content-title {
    text-align: end;
    color: white;
    position: absolute;
    top: 13%;
    right: 4%;
}

.content-title h3 {
    font-size: 2vw;
}

.content-title pre {
    margin-top: 2%;
}

.content-body {
    position: relative;
    display: flex;
    height: 100vh;
    bottom: 0;
    padding: 22.5vh 13% 0 13%;
}

.contact-us-icon {
    width: 50%;
    padding-top: 3%;
}


.form-container {
    border-radius: 5px 5px 0px 0px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 100px 0px #DFDFDF;
    width: 45%;
    margin-right: 5%;
    padding-left: 6%;
    padding-top: 5%;
    display: inline-flex;
    flex-direction: column;
}

.form-title {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 1.4vw;
    color: #29282B;
}

.form-container form {
    width: 81.75%;
    margin-top: 9.5%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6%;
    flex-shrink: 0;
    height: 56vh;
}

.form-container input,
.form-container textarea {
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 100px rgba(153, 153, 153, 0.30);
    padding: 4% 7.25%;
    overflow: auto;
    border: none;
    outline: none;
    resize: none;
}

.form-container textarea {
    height: 20%;
    max-height: 100px;
}

.form-container input:hover,
.form-container input:focus,
.form-container textarea:hover,
.form-container textarea:focus {
    border: 1px solid #29A87A;
    transition: all 0.2s;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
    color: #575757;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-container input:focus::placeholder,
.form-container textarea:focus::placeholder {
    color: #B1AEAE;
}

.checkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

#privacyStatement {
    height: 100%;
    margin-left: 7.25%;
    width: fit-content;
}

.checkbox label {
    padding-top: 1%;
    font-size: 0.75vw;
}

.checkbox label:hover {
    text-decoration: underline;
    color: #29a87a;
}

.form-container button {
    background-color: #29A87A;
    border-radius: 30px;
    height: 15%;
    width: 33.5%;
    margin-left: 6.75%;
    margin-top: 1%;
}


.faq {
    background: linear-gradient(to top, #94d4bd, #ffffff);
    padding-bottom: 5vh;
    padding-top: 11vh;
    position: relative;
}

.faq h2 {
    text-align: center;
    width: 6%;
    margin-left: 47%;
    letter-spacing: 18px;
    padding-bottom: 0.5%;
    border-bottom: 2px solid #6046FF;
}

.faq-content {
    margin: 2% 30% 5% 30%;
}

.faq-content ol {
    text-align: center;
}

.faq-content .accordion-header {
    width: 100%;
    gap: 15%;
}

.faq-content .accordion-text {
    width: 80%;
}

.faq-content .accordion-symbol {
    text-align: end;
}

.faq-content .accordion-body {
    margin-left: 0;
    width: 80%;
    transition: all 0.5s ease-in;
}

.faq-content .accordion-body.expanded {
    max-height: 200px;
}

.faq-content li:hover,
.faq-content li:focus {
    transform: scale(1.05);
}

.faq-content .accordion-symbol {
    transition: all 0.5s ease-in;
}
